[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
gunicorn = "==19.7.1"
python-dotenv = "*"
flask = "*"
pandas = "*"
statsmodels = "*"
numpy = "*"
sqlalchemy = "*"
flask-heroku = "*"
flask-sqlalchemy = "*"
flask-restx = "*"

[dev-packages]
pytest = "*"
bumpversion = "*"
pytest-sugar = "*"
pytest-cov = "*"

[requires]
python_version = "3.7"
